url={{ liquibase.url }}
username={{ liquibase.username }}
password={{ liquibase.password }}
schema={{ liquibase.schema }}
context={{ liquibase.context }}
changeLogFile={{ lookup('env', 'LIQUIBASE_DIR') | default('/opt/buildagent/work/qrcheck/events/liquibase') }}/changelog.yaml