spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        temp.use_jdbc_metadata_defaults: false
        default_schema: events
    open-in-view: false
  data:
    jpa:
      repositories:
        bootstrap-mode: default
  datasource:
    url: jdbc:p6spy:postgresql://localhost:5432/qrcheck
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      driver-class-name: org.postgresql.Driver
      jdbc-url: jdbc:postgresql://localhost:5432/qrcheck
      username: ${spring.datasource.username}
      password: ${spring.datasource.password}
      pool-name: HikariPool
      max-lifetime: 600000
      connection-timeout: 15000
      maximum-pool-size: 10
      idle-timeout: 200000
      minimum-idle: 2
      schema: events
  liquibase:
    enabled: false
  groovy:
    template:
      check-template-location: false
  sleuth:
    jdbc:
      p6spy:
        enabled: true
        enable-logging: true
        tracing:
          include-parameter-values: true
  security:
    qrcheck:
      api-key:
        hasApiKeyAuth: true
        token:
          outgoing: ${API_KEY_OUTGOING}
          incoming: ${API_KEY_INCOMING}
      oauth2:
        auth-server:
          host: ${AUTH_HANDLER_URL}
  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 300MB

springdoc:
  api-docs:
    path: "/swagger-api"
  swagger-ui:
    path: "/"
  info:
    title: Events RESTful API
    description: Сервис управления событиями
    version: V1
    licence-url: https://qrchk.ru/licence
    owner-name: QRCheck
    owner-url: https://qrchk.ru
    owner-email: it.support@softdarom.ru

outbound:
  feign:
    content-handler:
      host: "${CONTENT_HANDLER_URL}"
    checkman-handler:
      host: "${CHECKMAN_HANDLER_URL}"
    orders:
      host: "${ORDERS_URL}"

logbook:
  strategy: body-only-if-status-at-least
  minimum-status: 200
  format:
    style: http
  logger:
    name: REST
  exclude:
    - /actuator/**
    - /v3/api-docs/**
    - /swagger-ui/**
    - /swagger-api/**
    - /