kind: Secret
apiVersion: v1
metadata:
  namespace: {{ namespace }}
  name: {{ application.name }}
  labels:
    app: {{ application.name }}
    version: {{ lookup('env', 'DOCKER_VERSION') | default('unknown') }}
type: Opaque
data:
  DATABASE_PASSWORD: {{ spring.datasource.password | b64encode }}
  API_KEY_OUTGOING: {{ spring.security.api_key.token.outgoing | b64encode}}